<a href="https://colab.research.google.com/github/danieljaouen/DS-Unit-1-Sprint-4-Linear-Algebra/blob/master/module4-clustering/Cell_Clustering_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Now it's an unsupervised learning dataset

(Because we've removed the diagnosis label) - Use this version.

# K-Means Clustering

Your assignment is to use the "Breast Cancer Wisconsin (Diagnostic) Data Set" from Kaggle to try and cluster types of cancer cells. 

It may be helpful to use PCA to reduce the dimensions of your data first in order to obtain --but then again, maybe not. I dunno, you're the data scientist, you tell me.ðŸ¤ª 

Here's the original dataset for your reference:

<https://www.kaggle.com/uciml/breast-cancer-wisconsin-data>

## This is a supervised learning dataset

(Because it has **labels** - The "diagnosis" column.)

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.decomposition import PCA # You don't necessarily have to use this
from sklearn.cluster import KMeans # You don't necessarily have to use this
from sklearn.preprocessing import StandardScaler # You don't necessarily have to use this

df = pd.read_csv("https://raw.githubusercontent.com/ryanleeallred/datasets/master/Cancer_Cells.csv")
print(df.shape)
df.head()

(569, 33)

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

In [20]:
df.diagnosis.value_counts()

B    357
M    212
Name: diagnosis, dtype: int64

In [21]:
df = df.drop('diagnosis', axis=1)
df.head()

         id  radius_mean  ...  fractal_dimension_worst  Unnamed: 32
0    842302        17.99  ...                  0.11890          NaN
1    842517        20.57  ...                  0.08902          NaN
2  84300903        19.69  ...                  0.08758          NaN
3  84348301        11.42  ...                  0.17300          NaN
4  84358402        20.29  ...                  0.07678          NaN

[5 rows x 32 columns]

# You take it from here!

See what you can come up with. You have all the know-how! 

- You might want to do some data exploration to see if you can find specific columns that will help you find distinct clusters of cells
- You might want to do PCA on this data to see if that helps you find distinct linearly-separable clusters.
  - (In the real world, truly linearly-separable clusters are rare.)
- You might want to use an elbow chart to decide on the number of clusters to use.
- You might want to use a scree plot to decide how many principal components to include in your clustering.
- You might want to standardize your data before PCA (If you decide to use PCA). 

## Manage your time and don't spend it all on data exploration or something like that. You got this!

In [0]:
##### Your Code Here #####
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

In [23]:
df.isna().sum()

id                           0
radius_mean                  0
texture_mean                 0
perimeter_mean               0
area_mean                    0
smoothness_mean              0
compactness_mean             0
concavity_mean               0
concave points_mean          0
symmetry_mean                0
fractal_dimension_mean       0
radius_se                    0
texture_se                   0
perimeter_se                 0
area_se                      0
smoothness_se                0
compactness_se               0
concavity_se                 0
concave points_se            0
symmetry_se                  0
fractal_dimension_se         0
radius_worst                 0
texture_worst                0
perimeter_worst              0
area_worst                   0
smoothness_worst             0
compactness_worst            0
concavity_worst              0
concave points_worst         0
symmetry_worst               0
fractal_dimension_worst      0
Unnamed: 32                569
dtype: int64

In [0]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

In [12]:
df.isna().sum()

id                         0
radius_mean                0
texture_mean               0
perimeter_mean             0
area_mean                  0
smoothness_mean            0
compactness_mean           0
concavity_mean             0
concave points_mean        0
symmetry_mean              0
fractal_dimension_mean     0
radius_se                  0
texture_se                 0
perimeter_se               0
area_se                    0
smoothness_se              0
compactness_se             0
concavity_se               0
concave points_se          0
symmetry_se                0
fractal_dimension_se       0
radius_worst               0
texture_worst              0
perimeter_worst            0
area_worst                 0
smoothness_worst           0
compactness_worst          0
concavity_worst            0
concave points_worst       0
symmetry_worst             0
fractal_dimension_worst    0
dtype: int64

In [25]:
pca = PCA(3)

# fit on data
pca.fit(df)

# access values and vectors
print("\n Eigenvectors: \n", pca.components_)
print("\n Eigenvalues: \n",pca.explained_variance_)

# transform data
B = pca.transform(df)

 Eigenvectors:
 [[ 1.00000000e+00  2.10355216e-09  3.43234571e-09  1.42192516e-08
   2.72738712e-07 -1.45885088e-12  4.04272551e-14  3.19336553e-11
   1.37054208e-11 -4.84913013e-12 -2.96551059e-12  3.17299072e-10
  -3.32090176e-11  2.22094177e-09  6.46746166e-08  2.32430050e-12
   4.86463229e-12  1.33374625e-11  3.88753147e-12 -1.14429366e-12
   5.44478603e-13  3.18575458e-09  3.18174001e-09  2.14982890e-08
   4.88138784e-07  1.88802857e-12 -3.73530805e-12  3.87188697e-11
   1.84932882e-11 -2.18847361e-11 -4.31457934e-12]
 [-5.62073572e-07  5.10143085e-03  2.15255874e-03  3.51868793e-02
   5.17187910e-01  4.31365211e-06  4.09811144e-05  8.22229476e-05
   4.80443503e-05  7.25444830e-06 -2.59184761e-06  3.10913866e-04
  -6.51708674e-05  2.21700252e-03  5.50584735e-02 -8.61280151e-07
   5.48385367e-06  8.70373492e-06  3.23823727e-06 -1.23211669e-06
  -9.73388486e-08  7.17147932e-03  3.03812662e-03  4.95838985e-02
   8.51875672e-01  6.45402963e-06  1.02489500e-04  1.70054198e-04
   7.41247125e-05  1.85374841e-05  1.71776785e-06]
 [ 2.02113046e-08  9.25835634e-03 -2.79051087e-03  6.25386134e-02
   8.51577525e-01 -1.49894073e-05 -3.67856489e-06  7.46012396e-05
   4.58059710e-05 -2.56286512e-05 -1.61894393e-05 -4.69972121e-05
   3.49863219e-04  8.67983826e-04  9.09327992e-03  1.62302354e-06
   1.28400852e-05  2.91062807e-05  9.46248772e-06  1.22744554e-05
   3.19356746e-07 -6.10760267e-04 -1.31692934e-02 -4.94165805e-04
  -5.20147458e-01 -7.70074708e-05 -2.59120681e-04 -1.78267570e-04
  -3.16086821e-05 -1.58625679e-04 -5.55887892e-05]]

 Eigenvalues:
 [1.56301468e+16 4.38844340e+05 7.30376946e+03]

In [26]:
# rename the columns
columns = ['A', 'B', 'C']
df2 = pd.DataFrame(B, columns=columns)
df2.head()

              A            B           C
0 -2.952953e+07  1176.590041 -294.913581
1 -2.952931e+07  1285.749615   14.460640
2  5.392907e+07   965.498486   39.839016
3  5.397647e+07  -437.551998  -66.111302
4  5.398657e+07   900.073378  190.054022

In [0]:
kmeans = KMeans(n_clusters=2)
kmeans.fit(df2)
labels = kmeans.labels_

In [28]:
new_series = pd.Series(labels)
df2['clusters'] = new_series.values

df2.head()

              A            B           C  clusters
0 -2.952953e+07  1176.590041 -294.913581         0
1 -2.952931e+07  1285.749615   14.460640         0
2  5.392907e+07   965.498486   39.839016         0
3  5.397647e+07  -437.551998  -66.111302         0
4  5.398657e+07   900.073378  190.054022         0

# Stretch Goal:

Once you are satisfied with your clustering, go back and add back in the labels from the original dataset to check how accurate your clustering was. Remember that this will not be a possibility in true unsupervised learning, but it might be a helpful for your learning to be able to check your work against the "ground truth". Try different approaches and see which one is the most successful and try understand why that might be the case. If you go back and try different methods don't ever include the actual "diagnosis" labels in your clustering or PCA.

**Side Note** Data Science is never DONE. You just reach a point where the cost isn't worth the benefit anymore. There's always more moderate to small improvements that we could make. Don't be a perfectionist, be a pragmatist.